.page-main {
  @include flex(column);
}

@media (min-width: $desktop-width) {
  .page-main {
    margin: 0 -70px;
    overflow: hidden;
  }

  .page-main--visible {
    margin: 0;
    overflow: visible;
  }
}
