.promo {
  @include flex (column, space-between, center);
  min-height: 453px;
  margin: 0 -20px;
  padding: 27px 20px 3px;
  background-image:
    url("../../img/index-can-mobile@1x.png"),
    url("../../img/index-background-mobile@1x.jpg"),
    linear-gradient(to bottom, $leaf-three 305px, transparent 305px);
  background-position: center bottom 46px, 50% 0, 0 0;
  background-size: 280px, 320px, 100%;
  background-repeat: no-repeat;
}

.promo__title {
  @include font-parameters (36px, 36px, $white-two, center);
  width: 250px;
  margin-bottom: 25px;
}

.promo__slogan {
  @include font-parameters (14px, 14px, $white-two, center, uppercase);
  margin-bottom: auto;
}

.promo__programm-link {
  @include button;
  @include font-parameters (14px, 18px, $white-two, center, uppercase);
}

/*


--------------------------- TABLET-----------------------------------


*/

@media (min-width: $tablet-width) {
  .promo {
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 809px;
    margin: 0;
    padding: 52px 90px 0;
    background-image: url("../../img/index-can-tablet@1x.jpg");
    background-position: bottom;
    background-size: 708px;
  }

  .promo__title {
    @include font-parameters (60px, 60px, $black-two, left);
    width: 415px;
    margin-bottom: 42px;
  }

  .promo__slogan {
    @include font-parameters (20px, 20px, $black-two, left);
    margin-bottom: 47px;
  }

  .promo__programm-link {
    @include font-parameters (20px, 20px);
    align-self: flex-start;
    width: 245px;
    min-height: 52px;
    padding: 16px 10px;
  }
}

/*


--------------------------- DESKTOP-----------------------------------


*/

@media (min-width: $desktop-width) {
  .promo {
    min-height: 474px;
    width: 1220px;
    margin: -120px -70px 0;
    padding: 222px calc((100vw - 1220px) / 2) 0;
    background-image:
      url("../../img/index-can-desktop@1x.png"),
      url("../../img/index-background-desktop@1x.jpg"),
      linear-gradient(to left, $leaf-three 50%, transparent 50%);
    background-position: calc(50% + 116px) 72%, 100% 0, 0 0;
    background-size: 552px, 720px, 100%;
  }

  .promo__title {
    @include font-parameters (60px, 60px, $black-two, left);
    margin: 0 0 42px 81px;
  }

  .promo__slogan {
    @include font-parameters (20px, 20px, $black-two, left);
    margin: 0 0 52px 81px;
  }

  .promo__programm-link {
    @include font-parameters (20px, 20px);
    align-self: flex-start;
    width: 245px;
    margin-left: 81px;
  }
}
